.profileImage {
  vertical-align: middle;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #2e2d2d;
  box-shadow: 10px 10px 31px 1px rgba(0, 0, 0, 0.76);
  margin-top: -150px;
  z-index: 88;
}

.profileImageButton {
  margin-top: -190px;
  z-index: 100;
}
.profileCover {
  box-shadow: 9px 11px 30px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid #2e2d2d;
  color: #f3eeee;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
